.employeesList {
    padding-top: 100px;
    padding-bottom: 200px;
    padding-left: 10vw;
    padding-right: 10vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 150px;
    border-top: 1px solid #C2C2C2;
    position: relative;
}

.employeesList::before {
    content: "OUR TEAM";
    position: absolute;
    top: -5px;
    left: 50px;
    color: #C2C2C2;
    padding: 0 47px;
    background: #ffffff;
}